data/*
data*
processed_images/*
reference
reference/*
tests
tests/*
__pycache__
__pycache__/*
_data*
detect-face-parts*
go_experiments*
features*
models
models/*
alpha_playground
alpha_playground/*
notes.txt
*.png
ws_tests
ws_tests/*
