experimental
experimental/*
.archive
.archive/*
data/*
data*
processed_images/*
reference
reference/*
tests
tests/*
__pycache__
__pycache__/*
_data*
detect-face-parts*
go_experiments*
features*
models
models/*
alpha_playground
alpha_playground/*
notes.md
*.png
ws_tests
ws_tests/*
*.jpg
grab_cut_tests
grab_cut_tests/*
fonts
fonts/*
